@import "tailwindcss";

@theme {
  --color-orange: #e6770b;
  --color-red: #d3290f;
  --color-green: #52d053;
  --color-purple: #765898;
}

html {
  background-color: black;
  color: white;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.tech-icon:hover {
  cursor: pointer;
  transform: scale(1.5);
}
